@font-face {
  font-family: HelveticaNeue;
  font-weight: bold;
  src: url("/src/fonts/HelveticaNeue.ttc") format("TTC");
}

body {
  width: 1920px;
  height: 1080px;
}

:root {
  font-family: HelveticaNeue;
  --main-red: #f93b1d;
  --transition: all 0.4s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
}
