@font-face {
  font-family: HelveticaNeue;
  font-weight: bold;
  src: url("/src/fonts/HelveticaNeue.ttc") format("TTC");
}

body {
  width: 1920px;
  height: 1080px;
}

:root {
  font-family: HelveticaNeue;
  --main-red: #f93b1d;
  --main-green: #98e37e;
  --transition: all 0.4s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
}

input {
  color: rgb(0, 0, 0);
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  padding-left: 17px;
}

::placeholder {
  color: rgba(0, 0, 0, 0.397);
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

textarea {
  padding-left: 17px;
  padding-top: 10px;
  color: rgb(0, 0, 0);
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

input[type="file"] {
  display: none;
}

input[type="date"] {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
}
