.wrapper {
  position: relative;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  height: 1080px;
  background-color: #292c2d03;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.goBack {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 48px;
  top: 45px;
}

.goBack:hover {
  cursor: pointer;
}

.title {
  position: absolute;
  left: 149px;
  top: 47px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #1a1a1a;
}

.pageCount {
  position: absolute;
  left: 890px;
  top: 49px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: right;
  color: #1a1a1a;
}

.divider {
  position: absolute;
  width: 765px;
  height: 0px;
  left: 150px;
  top: 88px;
  border: 1px solid #1a1a1a;
}

.checkMarkShort {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 42px;
  left: 315px;
}

.checkMarkLong {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 42px;
  left: 730px;
}

.checkMarkImage {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 327px;
  left: 512px;
}

.nameSection {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 7px;

  width: 371px;
  height: 21px;

  top: 160px;
  left: 149px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}

.lastNameSection {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 7px;

  width: 371px;
  height: 21px;

  top: 160px;
  left: 570px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}

.inputItem {
  box-sizing: border-box;
  width: 350px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  padding-right: 40px;
}

.inputItemLong {
  box-sizing: border-box;
  width: 770px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.hint {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #2e2e2e;

  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

.photoText {
  position: absolute;
  left: 150px;
  top: 325px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #1a1a1a;
}

.photoName {
  max-width: 448px;
  position: absolute;
  left: 545px;
  top: 324px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #98e37e;
}

.photoButton {
  position: absolute;

  width: 95px;
  height: 34px;
  left: 401px;
  top: 319px;
  background: #0e80bf;
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  color: #ffffff;
  border: none;
  transition: var(--transition);
}
.photoButton:hover {
  cursor: pointer;
  transform: scale(1.005);
  border: 0.5px solid #0e80bf;
  background-color: transparent;
  color: #0e80bf;
}

.aboutMeLabel {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  top: 420px;
  left: 150px;
  position: absolute;
}

.textArea {
  box-sizing: border-box;
  width: 775px;
  height: 103px;
  background: #ffffff;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  top: 450px;
  position: absolute;
  left: 149px;
}

.emailSection {
  top: 590px;
  left: 150px;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.phoneSection {
  top: 732px;
  left: 150px;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.submit {
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 160px;
  height: 52px;
  right: 1000px;
  bottom: 65px;
  background: #6b40e3;
  border-radius: 4px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.08em;
  color: #ffffff;
  transition: var(--transition);
  border: none;
}

.submit:enabled:hover {
  cursor: pointer;
  transform: scale(1.03);
  border: 1px solid var(--main-red);
  background-color: transparent;
  color: var(--main-red);
}

.submit:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
