.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 30px;
}

.titlelSection,
.employerlSection {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.inputItemLong {
  box-sizing: border-box;
  width: 770px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.checkMarkLong {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 39px;
  left: 730px;
}

.checkMarkLongEmployer {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 172px;
  left: 730px;
}

.checkMark {
  height: 21px;
  width: 21px;
  position: absolute;
  top: 318.8px;
  left: 315px;
}

.checkMarkEnd {
  height: 21px;
  width: 21px;
  position: absolute;
  top: 41px;
  left: 315px;
}

.hint {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #2e2e2e;
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

.startDateSection {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.inputDate {
  display: flex;
  height: 48px;
  width: 320px;
  align-items: flex-start;
  align-items: center;
  text-align: left;
  background: #ffffff;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  padding-left: 14px;
  padding-right: 20px;
}

.endDateSection {
  display: flex;
  flex-direction: column;
  gap: 7px;
  left: 415px;
  top: 275px;
  position: absolute;
}

.divider {
  position: absolute;
  width: 768px;
  height: 1px;
  left: 0;
  top: 430px;
}
